<%= form_tag('/pins', :method => :post) do %>

  <div class="field">
    <%= label_tag :board_id %><br />
    <%= collection_select :post, :board_id, Board.all, :id, :name %>
  </div>

  <div class="field">
    <%= label_tag :url %><br />
    <%= text_field_tag :url %>
  </div>
  <div class="field">
    <%= label_tag :description %><br />
    <%= text_field_tag :description %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
  <% end %>
