<h1>Add New Pin</h1>

<%= form_tag('/pins', :method => :post) do %>

  <div class="field">
    <h4><%= link_to "Create New Board", new_board_url %>
    <%= label_tag :board_id %><br />
    <%= collection_select :post, :board_id, Board.where(:user_id => session[:id]), :id, :name, :selected => params[:board_id].to_s %>
  </div>

  <div class="field">
    <%= label_tag :url %><br />
    <%= text_field_tag :url %>
  </div>
  <div class="field">
    <%= label_tag :description %><br />
    <%= text_field_tag :description %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
  <% end %>


