<p id="notice"><%= notice %></p>

<p>
  <img src="<%=@pin.url%>" height="400" width="400") %>
</p>

<p>
  <b>Description:</b>
  <%= @pin.description %>
</p>

<p>
  <b>Created By:</b>
  <%= @user.name %>
</p>


<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
