<%= form_for(@board_pin) do |f| %>
  <% if @board_pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board_pin.errors.count, "error") %> prohibited this board_pin from being saved:</h2>

      <ul>
      <% @board_pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pin_id %><br />
    <%= f.number_field :pin_id %>
  </div>
  <div class="field">
    <%= f.label :board_id %><br />
    <%= f.number_field :board_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
