<p id="notice"><%= notice %></p>

<p>
  <b>Pin:</b>
  <%= @board_pin.pin.id %>
</p>

<p>
  <b>Board:</b>
  <%= @board_pin.board.name %>
</p>

<p>
  <b>Description:</b>
  <%= @board_pin.description %>
</p>

<p>
	<%= image_tag(@board_pin.pin.url) %>
</p>

<%= link_to 'Edit', edit_board_pin_path(@board_pin) %> |
<%= link_to 'Back', board_pins_path %>
