<p id="notice"><%= notice %></p>


<p>
  <b>Board:</b>
  <%= link_to @board_pin.board.name, @board_pin.board %>
  <% if @board_pin.board.user_id == session[:id] %>
  <%= link_to "Delete Pin", board_pin_url(:id => @board_pin.id, :board_id => @board_pin.board.id), method: :delete, :confirm => "Do You Really Want To Delete This Pin From #{@board_pin.board.name}" %>
  <% else %>
  
  	<!--Form for adding pin to session user board-->
  	<%= form_tag '/board_pins', method: :post  do %>
  	Add To: 
  	<%= hidden_field_tag :pin_id, @board_pin.pin.id %>
  	<%= collection_select :post, :board_id, Board.where(:user_id => session[:id]), :id, :name %>
  	<%= submit_tag "Add Pin" %>
    <% end %>
  <% end %><!--end form-->


  <!--favorites button-->
  <% if @board_pin.favorites.find_by_user_id_and_board_pin_id(session[:id], @board_pin.id)%>
    <%= button_to "Remove From Favorites", favorites_url(:id => @board_pin.id), method: :delete %>
  <% else %>
    <%= button_to "Add To Favorites", favorites_url(:id => @board_pin.id), method: :post %>
    <%end%>
</p>

<p>
  <b>Description:</b>
  <%= @board_pin.description %>
</p>

<p>
	<%= image_tag(@board_pin.pin.url) %>
</p>

<p>
	<b>Comments</b><br>
  <ul id='commentlist'>
	<% @board_pin.pin.pin_comments.each_with_index do |comment, ind| %>
	<%= comment.comment %><b> By </b>
	<%= comment.user.name %><b> On </b>
	<%= comment.created_at.strftime("%A, %B %eth, %Y") %> | 
	<% if comment.user_id == session[:id] %>
		<%= link_to "Edit", edit_pin_comment_url(comment.id) %>
		<% end %><br>
	<% end %></ul>

	<%= form_tag "/pin_comments", method: :post, :remote => true, :id => 'comment_form' %>
	<b>Write A Comment</b><br>
	<%= text_field_tag :comment_text %>
	<%= hidden_field_tag :pin_id, @board_pin.pin.id %>
	<%= submit_tag "Share Comment" %>

</p>


<%= link_to 'Edit', edit_pin_path(@board_pin.pin_id) %> |
<%= link_to 'Back', board_pins_path %>
