<br><br>
<h1>Change Password</h1>

<% form_tag user_url, method: :put %>
<%= label_tag :old_password %>
<%= text_field_tag :old_password %>

<%= label_tag "Enter Your New Password" %>
<%= text_field_tag :new_password_first %>

<%= label_tag "Enter Your New Password Again	" %>
<%= text_field_tag :new_password_second %><br>

<%= submit_tag "Update Password"  %>