<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@user.image, :height => 120, :width => 120) %>
</p>

<p>
  <b>username:</b>
  <%= @user.name %>
</p>

<p>
  <b>first name:</b>
  <%= @user.fname %>
</p>

<p>
  <b>last name:</b>
  <%= @user.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>About:</b>
  <%= @user.about %>
</p>

------

<p>
  <h3>Show</h3>
  <%= link_to "Show Pins You've Added", pins_url %><br>
  <%= link_to "Show Boards", boards_url %><br><br>

  <h3>Create</h3>
  <%= link_to "Create Pin", new_pin_url %><br>
  <%= link_to "Create Board", new_board_url %>
</p>  


------ <br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
