<p id="notice"><%= notice %></p>
<script>
  $(function(){
    $("#sortable").sortable();
    $("#sortable").disableSelection();
    $( "#resizable" ).resizable({
      animate: true
    });
  });
</script>
 <style>
  #sortable { list-style-type: none; margin: 0; padding: 0;}
  #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 200px; height: 200px; text-align: center; }
  #resizable { width: 150px; height: 150px; padding: 0.5em; }
  #resizable h3 { text-align: center; margin: 0; }
  .ui-resizable-helper { border: 1px dotted gray; }
  </style>
<body>
<br><br>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><h3><%= @user.name %></h3></li>
              <li class="active"><img src="<%=@user.image%>", alt="uh oh", height="300", width = "300") %></li>
                  <li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
              <li class="nav-header">Show</li><ul class="nav nav-list">
                  <li><%= link_to "Boards (#{@user.boards.count})", boards_url %></li>
                  <li><%= link_to "Friends (#{@user.friends.count})", friends_index_url %></li>
                  <li><%= link_to "Pins Added", pins_url %></li></ul>
              <li class="nav-header">Create</li><ul class="nav nav-list">
                      <li><%= link_to "Pin", new_pin_url %></li>
                      <li><%= link_to "Board", new_board_url %></li>
                      <li><%= link_to "Find Friends", find_friends_url %></li>
                      <li><%= link_to "Kitten Board", kittens_url %></li>
                      <li><%= link_to "Nick Cage Board", cage_url %></li>
              <li class="nav-header">Sort</li><ul class="nav nav-list">
                      <li><%= link_to "Random", user_url(:sort => 'random') %></li>
                      <li><%= link_to "Newest", user_url(:sort => 'newest') %></li>
                      <li><%= link_to "Oldest", user_url(:sort => 'oldest') %></li>

            </ul>
          </div><!--/.well -->
        </div><!--/span-->

<div class="span10">
  <ul id="sortable">

            
            <% @user_board_pins.each do |pin| %>
            <li id="resizable">
              <%= link_to image_tag(pin.pin.url, :size => "400x400"), board_pin_url(pin.id) %><br>
              <%= pin.pin.description %><br>
            </li>
            <% end %>
        </div>