<h1><%= @user.name %>'s Boards</h1>

<table>
  <tr>
    <!--<th>User</th>
    <th>Pin</th>-->
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <!--<td><%#= board.user_id %></td>
    <td><%#= board.pin_id %></td>-->
    <td><%= board.name %></td>
    <td><%= board.category %></td>
    <td><%= link_to 'Show', board %></td>
    <td><%= link_to 'Edit', edit_board_path(board) %></td>
    <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
  <% board.pins.each do |pin| %>
  <td>
    <%= image_tag(pin.url, :heigth => 60, :width => 60) %>
  </td>
  <% end %>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Board', new_board_path %>
