<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.name %>
</p>

<!--
<p>
  <b>Pin:</b>
  <%#= @board.pin_id %>
</p>
-->

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<p>
  <b>Category:</b>
  <%= @board.category %>
</p>


<ul>
	<%= @board.board_pins.each do |bp| %>
	<li> <%= bp.pin.url %> </li>
	<% end %>
</ul>


<%= link_to "Add Pin", new_board_pin_url %><br>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
