<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @board.user_id %>
</p>

<p>
  <b>Pin:</b>
  <%= @board.pin_id %>
</p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>

<p>
  <b>Category:</b>
  <%= @board.category %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
