<!DOCTYPE html>
<html>
<head>
  <title>Andrew's Pinterest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<% if session[:id] %>
			<%= link_to 'MyProfile', user_url(session[:id]) %> 
			<%= link_to 'Sign Out', sign_out_url %>
		<% else %>
			<%= link_to 'Sign In', sign_in_url %>
		<% end %>
	</nav>

	
<%= yield %>

</body>
</html>
